<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>Home Work 6</h1>
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            ngModel
            required
            email
            #email="ngModel"
          >
          <p class="invalid-feedback" *ngIf="!email.valid && email.touched">Email is incorrect</p>
        </div>
        <div class="form-group">
          <label for="subscription">Subscriptions:</label>
          <select name="subscription" id="subscription" class="form-control" [ngModel]="defaultSubscription">
            <option *ngFor="let value of subscriptions;" [value]="value">{{ value }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            name="password"
            id="password"
            type="password"
            class="form-control"
            ngModel
            required
            #password="ngModel"
          >
          <p class="invalid-feedback" *ngIf="!password.valid && password.touched">Passord should not be empty</p>
        </div>
        <p *ngIf="!form.valid && form.touched" class="alert alert-danger" role="alert">Form is invalid</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <ng-container *ngIf="formSubmitted">
    <hr>
    <div class="row">
      <div class="col-xl-12">
        <h3>Form Data</h3>
        <div *ngFor="let item of formData">{{ item.name }}: {{ item.value }}</div>
      </div>
    </div>
  </ng-container>
</div>